[Unit]
Description=EAC client app
After=network.target

[Service]
ExecStart=node --experimental-modules /home/eac/client/src/server.js
# Required on some systems
WorkingDirectory=/home/eac/client/src
Restart=always
RestartSec=3
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=eac-client
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=8081

[Install]
WantedBy=multi-user.target
