<actor-contact>
  <h3 if={ this.contact }>Contacter { this.contact }</h3>
  <h3 if={ !this.contact }>Contacter le responsable EAC</h3>
  <ul>
    <li if={ this.phone }>Par téléphone : <a href="tel:{ this.phone }">{ this.phone }</a></li>
    <li if={ this.email }>Par email :
      <a href="mailto:{ this.email }?subject=À propos de { this.actor.name }&cc=contact@education-artistique-culturelle.fr&body={ encodeURIComponent(this.emailBody) }">
        { this.email }
      </a>
    </li>
  </ul>

  <p if={ !this.phone && !this.email }>
    Aucune information de contact n'est disponible pour cet acteur culturel.<br>
    <a class=button href="https://duckduckgo.com/?q={ encodeURI(`${this.actor.name} ${this.actor.city}`) }" target=_blank>Faire une recherche</a>
  </p>

  <script>
    /* globals location */
    this.actor = {}

    this.on('update', () => {
      this.actor = this.opts.actor
      this.phone = this.actor.contactPhone || this.actor.ownerPhone
      this.email = this.actor.contactEmail || this.actor.ownerEmail
      this.contact = (this.actor.contactName || '').replace(',', '')
      this.emailBody = `Bonjour ${this.contact},\n\n` +
        `Je vous contacte suite à ma consultation de la fiche ${location.href}.\n\n` +
        `Questions ou remarques :\n\n\n\n`
    })
  </script>

  <style>
    :scope {
      display: block;
    }
  </style>
</actor-contact>
