<actor-card>

  <h3>{ this.actor.name } <small>(dept { this.actor.department })</small></h3>
  <p>{ this.actor.description.length < this.maxlength ? this.actor.description : this.actor.description.substr(0, this.maxlength) + '…' }</p>

  <footer>
    <geo if={ this.actor.distance }>{ Math.ceil(this.actor.distance) }&nbsp;km</geo>
    <nav class=tags>
      <color-tag class=tag each={ domain in this.actor.domains } label="{ domain }">
        <a>{ domain }</a>
      </color-tag>
    </nav>
  </footer>

  <a href=/actor/{ this.actor._id }?school={ this.schoolId }></a>

  <x-ribbon if={ this.actor.labels }>{ this.actor.labels.join(' / ') }</x-ribbon>

  <script>
    /* global opts */
    this.schoolId = opts.schoolId
    this.actor = opts.actor
    this.maxlength = this.opts.maxlength || 150
  </script>

  <style scoped>
    :scope {
      position: relative;
      display: block;
    }
    :scope > a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    :scope:hover {
      color: #111;
      transition: color .3s;
    }

    h3 {
      font-size: 1.4em;
      margin: 1rem 0 .5rem 0;
    }
    h3 small {
      text-transform: none;
      font-style: italic;
      font-size: .8em;
    }

    p {
      margin: 0;
    }

    footer {
      display: grid;
      grid-template-columns: 1fr auto;
      padding-top: 1rem;
      margin-top: 1rem;
      border-top: 1px solid #ccc;
      align-items: center;
    }

    .tags {
      text-align: right;
    }

    geo {
      font-size: 1.3rem;
      background: url(/images/gps.icon.png) no-repeat;
      background-size: 1.8rem;
      padding-left: 2rem;
    }
  </style>
</actor-card>
