<download-template>

  <button onclick={ this.download }>Télécharger la fiche projet</button>

  <script>
    async function download() {
      function loadFile(url, callback) {
        JSZipUtils.getBinaryContent(url, callback);
      }
      loadFile("/resources/eac-project-2018-2019.docx", function(error, content) {
        if (error) { throw error };
        var zip = new JSZip(content);
        var doc = new Docxtemplater().loadZip(zip)
        doc.setData({
          actorName: 'John',
          last_name: 'Doe',
          phone: '0652455478',
          description: 'New Website'
        });

        try {
          doc.render()
        } catch (error) {
          var e = {
            message: error.message,
            name: error.name,
            stack: error.stack,
            properties: error.properties,
          }
          console.log(JSON.stringify({ error: e }));
          throw error;
        }

        var out = doc.getZip().generate({
          type: "blob",
          mimeType: "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
        })
        saveAs(out, "output.docx")
      })
    }

    function loadScript(src) {
      const s = document.createElement('script');
      s.src = src;
      s.type = "text/javascript";
      document.getElementsByTagName('head')[0].appendChild(s);
      s.async = false
      s.onload = () => {
        loadedScripts.push(src)
        loadedScriptObserver.trigger('push')
      }
    }

    function LoadedScriptObserver() {
      riot.observable(this)
      this.on('push', function() {
        if (loadedScripts.length == 4) {
          download()
        }
      })
    }

    const loadedScripts = []
    const loadedScriptObserver = new LoadedScriptObserver()

    this.download = () => {
      loadScript('/vendors/js/jszip.min.js')
      loadScript('/vendors/js/jszip-utils.min.js')
      loadScript('/vendors/js/filesaver.min.js')
      loadScript('/vendors/js/docxtemplater-latest.min.js')
    }
  </script>
</download-template>
