<journey>
  <h3 if={ this.nav && this.journeys }>
    { this.journeys.length }
    itinéraire{ this.journeys.length > 1 ? 's' : '' }
    disponible{ this.journeys.length > 1 ? 's' : '' }
    depuis votre établissement
  </h3>
  <h3 if={ !(this.nav && this.journeys) }>
    Aucun itinéraire disponible depuis votre établissement
  </h3>
  <ol>
    <li each={ journey in this.journeys }>
      <virtual if={ journey.durations.total }>
        <img src=/images/duration.svg class=icon>
        <span class=duration>
          { this.toMinutes(journey.durations.total) }
        </span>
      </virtual>

      <virtual if={ journey.durations.walking }>
        · <img src=/images/walking.svg class=icon>
        <span class=duration-walk>
          { this.toMinutes(journey.durations.walking) }
        </span>
      </virtual>
      <virtual if={ journey.co2_emission.value }>
        <span class=co2>
          · CO<small>2</small>&nbsp;: { Math.round(journey.co2_emission.value) } { journey.co2_emission.unit }
        </span>
      </virtual>
      <ul>
        <virtual each={ section in journey.sections }>
          <li if={ (section.mode == 'walking' || section.type == 'transfer') && section.from.name != section.to.name }>
            <img src=/images/walking.svg class=icon>
            Marcher depuis
            <a href={ this.toOsm(coord(section.from)) }><strong>{ section.from.name }</strong></a>
            jusqu'à
            <a href={ this.toOsm(coord(section.to)) }><strong>{ section.to.name }</strong></a>
            pendant
            { this.toMinutes(section.duration) }
          </li>
          <li if={ section.type == 'on_demand_transport' || section.type == 'public_transport' }>
            <img src=/images/bus.svg class=icon>
            { section.display_informations.physical_mode || section.display_informations.commercial_mode }
            <span if={ section.display_informations.code } class=bus-label style={ this.toStyle(section.display_informations) }>
              { section.display_informations.code }
            </span>
            depuis l'arrêt
            <strong>{ section.from.name }</strong> <em>→&nbsp;{ section.display_informations.direction }</em>
            jusqu'à
            <strong>{ section.to.name }</strong>
            pendant
            { this.toMinutes(section.duration) }
            - Réseau { section.display_informations.network }
          </li>
        </virtual>
      </ul>
    </li>
  </ol>
  <virtual if={ this.feedPublishers.length }>
    <h5>Sources</h5>
    <ul id=sources>
      <li each={ feedPublisher in this.feedPublishers }>
        <a href={ this.toUrl(feedPublisher.url) }>{ feedPublisher.name }</a>
      </li>
    </ul>
  </virtual>

  <script>
    /* global request */

    // See: http://doc.navitia.io/

    const navitiaUrl = 'https://api.navitia.io/v1'
    const osmUrl = 'https://www.openstreetmap.org/'
    const token = '038459f1-4120-47d4-950e-a18bbaca483c'
    const from = this.opts.from
    const to = this.opts.to

    this.nav = {}
    this.journeys = []
    this.feedPublishers = []

    this.toMinutes = (s) => Math.ceil(s / 60) + 'min'
    this.toStyle = (s) => `color: #${s.text_color}; background-color: #${s.color};`
    this.toUrl = (s) => s.match(/^http/) ? s : `https://${s}`
    this.coord = (o) => (o.address || o.stop_point).coord
    this.toOsm = (c) => `${osmUrl}?mlat=${c.lat}&mlon=${c.lon}#map=15/${c.lon}/${c.lng}&layers=T`

    this.on('mount', async () => {
      this.nav = await request(
        `${navitiaUrl}/journeys?from=${from[1]};${from[0]}&to=${to[1]};${to[0]}`,
        { headers: { 'Authorization': token } }
      )
      this.journeys = this.nav.journeys
      this.feedPublishers = this.nav.feed_publishers

      this.update()
    })
  </script>

  <style scoped>
    :scope {
      display: block;
    }
    .icon {
      margin-bottom: -5px;
      opacity: 0.5;
      height: 24px;
    }
    .bus-label {
      display: inline-block;
      border: none;
      border-radius: 3em;
      text-align: center;
      line-height: 1.2em;
      min-width: 1em;
      padding: 0.2em 0.3em;
    }
    ul#sources {
      font-size: 1.2rem;
    }
    ul#sources > li {
      margin-bottom: 0.5rem;
    }
    a,
    a:visited {
      color: #1b87b6;
    }
    a:hover {
      color: #209fd6;
    }
  </style>
</journey>
