<search-form>
  <form onsubmit={ this.submit }>
    <label for=q>Vous recherchez</label>
    <input type=search autocomplete="new-password" name=q id=q value={ this.opts.q } placeholder="Ex : Japon" autofocus>
    <label for=levels>Pour les élèves de</label>
    <select name=levels id=levels>
      <option></option>
      <option selected={this.currentLevels && this.currentLevels[0] === 'maternelle'} value="maternelle">Maternelle</option>
      <option selected={this.currentLevels && this.currentLevels[0] === 'primaire,elementaire'} value="primaire,elementaire">Élémentaire</option>
      <option selected={this.currentLevels && this.currentLevels[0] === 'college,colleges'} value="college,colleges">Collège</option>
      <option selected={this.currentLevels && this.currentLevels[0] === 'lycee,lycees'} value="lycee,lycees">Lycée</option>
    </select>
    <label for=domains>Dans la thématique</label>
    <select name=domains id=domains>
      <option></option>
      <option selected={this.currentDomains && this.currentDomains[0] === domain} each={ domain in this.domains }>{domain}</option>
    </select>
    <label for=search>À proximité de</label>
    <select-school ref=school name=school id=school school-id={ this.opts.schoolId } />
    <input class=button type=submit value=Rechercher>
  </form>

  <script>
    this.domains = [
      "Architecture",
      "Art moderne et contemporain",
      "Arts du cirque et de la rue",
      "Arts numériques",
      "Arts visuels",
      "cirque",
      "Danse",
      "Développement durable",
      "Livres",
      "Musée",
      "Musique",
      "Opéra",
      "Patrimoine",
      "Théâtre"
    ];
    this.on('mount', async () => {
      let filters = {}
      try {
        filters = JSON.parse(this.opts.filters)
      } catch(e) {}
      this.currentDomains = filters.domains
      this.currentLevels = filters.levels
      this.update()
    })
    /* global page */
    this.submit = (event) => {
      event.preventDefault()
      let params = `?q=${encodeURI(event.target.q.value)}`
      const schoolId = this.refs.school.schoolId
      if (schoolId) {
        params += `&school=${schoolId}`
      }
      let filters = {}
      if (event.target.domains.value) {
        filters.domains = [event.target.domains.value]
      }
      if (event.target.levels.value) {
        filters.levels = [event.target.levels.value]
      }
      if (filters.levels || filters.domains) {
        params += `&filters=${encodeURI(JSON.stringify(filters))}`
      }
      page(`/search${params}`)
    }
  </script>

  <style scoped>
    form {
      display: grid;
      grid-template:
        'label-q label-school .'
        'q school button'
        'label-levels label-domains .'
        'levels domains .'
        / 3fr 2fr auto;
      grid-column-gap: 3rem;
      max-width: 120rem;
      margin: 2rem auto 0 auto;
    }
    label {
      margin-bottom: 0;
    }
    #levels {
      grid-area: levels;
    }
    [for=levels] {
      grid-area: label-levels;
    }
    #domains {
      grid-area: domains;
    }
    [for=domains] {
      grid-area: label-domains;
    }
    [for=q] {
      grid-area: label-q;
    }
    #q {
      grid-area: q;
    }
    [for=school] {
      grid-area: label-school;
    }
    #school {
      grid-area: school;
    }
    [type=submit] {
      grid-area: button;
    }
  </style>
</search-form>
