<search-form>
  <form onsubmit={ this.submit }>
    <label for=q>Vous recherchez</label>
    <input type=search name=q id=q value={ this.opts.q } placeholder="Ex : Visite artisan" required autofocus>
    <label for=school>À proximité d'une école…</label>
    <select-school ref=school type=search name=school id=school school-id={ this.opts.schoolId } />
    <label for=address>… ou à proximité d'une ville/code postal</label>
    <select-address ref=address type=search name=address id=address />
    <input class=button type=submit value=Rechercher>
  </form>

  <script>
    /* global page */
    this.submit = (event) => {
      event.preventDefault()
      let params = `?q=${encodeURI(event.target.q.value)}`
      const schoolId = this.refs.school.schoolId
      const latLng = this.refs.address.latLng
      if (schoolId) {
        params += `&school=${schoolId}`
      }
      if (latLng) {
        params += `&latlng=${latLng.join(',')}`
      }

      page(`/search${params}`)
    }
  </script>

  <style scoped>
    form {
      display: grid;
      grid-template:
        'label-q label-school label-address .'
        'q school address button';
      grid-column-gap: 1rem;
      max-width: 120rem;
      margin: 2rem auto 0 auto;
    }
    label {
      margin-bottom: 0;
    }
    [for=q] {
      grid-area: label-q;
    }
    #q {
      grid-area: q;
    }
    [for=school] {
      grid-area: label-school;
    }
    #school {
      grid-area: school;
    }
    [for=address] {
      grid-area: label-address;
    }
    #address {
      grid-area: address;
    }
    [type=submit] {
      grid-area: button;
    }
  </style>
</search-form>
