<select-address>
  <input type=search ref=input oninput={ this.complete } onblur={ this.ensureFilled } placeholder="Ex : 88 Rue des Arts 59100 Roubaix" value={ this.opts.label }>

  <script>
    /* global api, Awesomplete, normalizeString */

    this.completer = null
    let address = {}
    let latLng = []

    this.on('mount', async () => {

      this.completer = new Awesomplete(this.refs.input, {
        replace: function (suggestion) {
          this.input.value = suggestion.label
          address = suggestion.value.data
          latLng = suggestion.value.latLng
        },

        item: function (text, input) {
          return Awesomplete.ITEM(text.label, '')
        },
        filter: function (text, input) {
          const words = normalizeString(input).split(' ')
          return words.filter(word => normalizeString(text.label).includes(word)).length === words.length
        },
      })

      this.refs.input.addEventListener('awesomplete-selectcomplete', event => {
        this.opts.onselect(address, latLng)
      })
    })

    this.complete = async event => {
      this.errors = []
      const q = event.target.value
      if (q === '') {
        address = ''
      }
      if (!q || q.length < 3) {
        return
      }

      const addresses = await request(`https://api-adresse.data.gouv.fr/search/?q=${q}&limit=5`)
      this.completer.list = addresses.features.map(a => ({
          label: a.properties.label,
          value: {data: a.properties, latLng: a.geometry.coordinates.reverse()}
        }
      ))

      if (this.completer.suggestions) {
        address = this.completer.suggestions[0] &&
        this.completer.suggestions[0].value
      }
    }

    this.ensureFilled = event => {
      if(!this.completer.suggestions || !this.completer.suggestions.length) {
        return
      }
      const suggestion = this.completer.suggestions[0]
      address = suggestion.value.data
      latLng = suggestion.value.latLng
      this.completer.input.value = address.label
      this.opts.onselect(address, latLng)
    }
  </script>
</select-address>
