<select-actor>
  <input type=search id={ this.opts.inputid } ref=input oninput={ this.complete } placeholder="Ex : Archives municipales" value={ this.opts.label }>

  <script>
    /* global api, Awesomplete, normalizeString */

    this.completer = null
    let actor = {}

    this.on('mount', async () => {
      this.completer = new Awesomplete(this.refs.input, {
        replace: function (suggestion) {
          this.input.value = suggestion.label
          actor = suggestion.value
        },

        item: function (text, input) {
          return Awesomplete.ITEM(text.label, '')
        },
        filter: function (text, input) {
          const words = normalizeString(input).split(' ')
          return words.filter(word => normalizeString(text.label).includes(word)).length === words.length
        }
      })

      this.refs.input.addEventListener('awesomplete-selectcomplete', event => {
        this.opts.onselect(actor)
      })
    })

    this.complete = async event => {
      this.errors = []
      const q = event.target.value
      if (q === '') {
        actor = ''
      }
      if (!q || q.length < 3) {
        return
      }

      const actors = await api(`/actors/search?q=${encodeURI(q)}`)
      this.completer.list = actors.map(a => ({
        label: a.name,
        value: a.name
      }))

      if (this.completer.suggestions) {
        actor = this.completer.suggestions[0] &&
          this.completer.suggestions[0].value
      }
    }
  </script>
</select-actor>
