<x-ribbon>
  <div class="ribbon">
    <span title={ this.title }>{ this.text }</span>
  </div>

  <script>
    this.text = this.opts.text
    this.title = `Cette action est en partenariat avec les collectivités territoriales et organismes suivants : ${this.text}`

    this.on('mount', () => {
      this.root.parentNode.classList.add('x-ribbon_parent')
    })
  </script>

  <style scoped>
    .ribbon {
      position: absolute;
      right: -10px;
      top: 0;
      z-index: 1;
      padding-top: 15px;
    }
    .ribbon > span {
      background: #79A70A;
      color: #FFF;
      font-size: 12px;
      font-weight: bold;
      text-transform: capitalize;
      cursor: help;
      position: relative;
      padding: 4px 6px;
    }
    .ribbon > span:after {
      border: rgb(108, 119, 81) solid 0;
      border-top-width: 6px;
      content: '';
      position: absolute;
      right: 0;
      bottom: -6px;
      border-right: 10px solid transparent;
    }
  </style>
</x-ribbon>
